* {
  margin: 0;
  padding: 0;
}
body {
  
}
p{
  font-size: 18px;
  font-weight: 600;
  color: hsl(213, 9%, 39%);
}
header {
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  height: 100vh;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
header > nav > ul {
  display: flex;
  text-align: center;
  gap: 20px;
  list-style: none;
}
header > nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.nav-contact {
  color: black;
  font-family: Fraunces;
  text-transform: uppercase;
  font-weight: 900;
}
.contact {
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 12px;
}
.header-content {
  font-family: Fraunces;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin: 150px;
 gap: 90px
 
}
.header-content > h1 {
  font-family: Fraunces;
  font-size: 4rem;
  font-weight: 900;
  color: white;
  letter-spacing: 5px;
}
main {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}
main > div {
  height: 80vh;
}
h2 {
  font-weight: 700;
}
main > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div:nth-child(2) {
  background-image: url(/images/desktop/image-transform.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main > div:nth-child(3) {
  background-image: url(/images/desktop/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main > div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main > div:nth-child(5) {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}
main > div:nth-child(6) {
  background-image: url(/images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}
.transform {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
  .line{
     background-color: hsl(51, 100%, 49%);
  }

}
.transform>h1{
  font-size: 2.5rem;
  font-weight: 900;
}
.transform>p{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: hsl(213, 9%, 39%);
}
.line {
  width: 100%;
  height: 6px;
  opacity: 0.3;
  border-radius: 50px;
  margin-top: -5px;
  z-index: 0;
}
.stand-out {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .line{
    background-color: hsl(7, 99%, 70%);
  }
 
}
.stand-out>h1{
  font-size: 2.5rem;
  font-weight: 900;
}
.stand-out>p{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: hsl(213, 9%, 39%);
}
.graphic {
  color: hsl(167, 40%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0px 50px;
  width: 300px;
  text-align: center;
  margin-bottom: 30px;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
section > div {
  height: 70vh;
}
section > div:nth-child(1) {
  background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section > div:nth-child(2) {
  background-image: url(/images/desktop/image-gallery-orange.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section > div:nth-child(3) {
  background-image: url(/images/desktop/image-gallery-cone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section > div:nth-child(4) {
  background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  background-color: hsl(166, 23%, 56%);
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer > div > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 500;
}
footer > div > ul > li > a {
  text-decoration: none;

  filter: brightness(0) invert(41%) sepia(13%) saturate(1787%)
    hue-rotate(120deg) brightness(91%) contrast(83%);
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100vh;

}
article > h1 {
  font-size: 2.5rem;
  text-align: center;
  color: hsl(210, 4%, 67%);
  font-family: Fraunces;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
}
article>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 70%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.7;
  gap: 60px;
  padding:26px;
 

}
.testimonials>img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonials>div>h3 {
  text-align: center;
  font-family: Fraunces;
  font-weight: 900;

}
@media (width<= 550px)
  header > nav > ul {
display: none;
  }
  .header-content{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 1px;
 
  }
  .header-content>h1{
    font-size: 50px;
    font-weight: 700;
    padding: 40px;
     letter-spacing: 6px;
     text-align: center;

  }
 main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  
}
    main > div:nth-child(2) {
      order: -1;
    }
    main > div:nth-child(1) {
      
      text-align: center;
    }
    .transform{
      width: 70%;
    }
    .learnmore{
text-align: center;
    }
